footer{
    margin-top: 15rem;
    margin-bottom: none;
    margin-block-end: none;
    position: relative;
    bottom: 0;
    /* display: grid;
    grid-template-columns: 1fr 20px;
    grid-row: 2px; */
    display: flex;
    flex-direction: row;
    /* justify-content: space-between; */
    justify-content: center;
    row-gap: 20px;
    background-color: #002b57;
    row-gap: 20px;
    margin-left: -0.5rem;
    margin-right: -0.5rem;
    margin-block-end: -0.5rem;
}

.text1{
    font-size: 1rem;
    height: 1rem;
    color: #ffffff;
    border-bottom: none;
    text-align: left;
    margin-left: 2rem;
}

.Logos {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 10px;
    padding: 1rem;   
    margin-right: 2rem; 
}

.s_img {
    /* align-items: center;
    text-align: center; */
    width: 20px;
    height: 20px;

}

.s_img:hover {
    border-radius: 5px;
    box-shadow: 3px 3px 5px 3px rgba(95, 180, 237, 0.2);
    transform: scale(1.2);

}