.imagee{
    width: 12rem;
    margin-left: 0.5rem;
    height: 3rem;   
}

.text{
    background-color: #002b57;
    font-size: 1rem;
    margin-top: 0rem;
    padding: 1rem;
    height: 1rem;
    color: #ffffff;
    margin-left: -0.5rem;
    margin-right: -0.5rem;
}